
body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    color: #777777 !important;
	background-color: #fbfbfb !important;
}

.row-space {
	margin: 10px;
}

h2 {
  font-weight: normal;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-size: 18px;
  cursor: pointer;
}

input {
    border: 1px solid #eee;
    height: 35px;
    width: 335px;
}
input[type=radio] {
    border: 1px solid #eee;
    width: 30px;
    height: 12px;
}

.container {
  width: 480px;
  margin: 0 auto;
  text-align: left;
}

#options {
  margin: 10px 0;
}

.next-question {
  margin-right: 10px;
}

#score {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.float-right {
  float: right;
}

.home-container {
  margin: 0 auto;
}

.main-container {
	margin: 11px;
    background-color: #ffffff !important;
}

.result-set {
  font-size: 12px;
}
.bg-container {
  position: absolute;
  background-image: linear-gradient(-180deg,#61488e 0,#61488e 40%,#61488e 68%,#61488e 85%,#472869 100%);
  background-repeat: no-repeat;
  opacity: 0.5;
}

@media (min-width: 1200px)
.container {
    width: 1000px !important;
}

@media (min-width: 992px)
.container {
    width: 770px !important;
}
@media (min-width: 768px)
.container {
    width: 550px !important; 
}

/*
* Task
*/
ul.main-ul li {
  font-weight: bold;
}

.inner-1 {
  margin-left: 11px;
}

.inner-2 {
  margin-left: 11px;
}